//Variables sobreescritas de Bootstrap
$primary: #f15946;
$secondary: #087f5b;

@import "~bootstrap/scss/bootstrap";

::selection {
  background: $primary;
  color: white;
}
body {
  h1 {
    font-family: Muli;
    font-variation-settings: "wght" 900;
  }
  p {
    font-family: JosefinSans;
    font-weight: 350;
    font-size: 1.5rem;
    margin: 50px 0;
    color: lighten($color: $primary, $amount: 30);
  }
}

.mainPage {
  min-height: 100vh;
}

.custom-switch {
  padding: 0;
}

.navbar {
  font-family: Muli;
  font-weight: 600;
  letter-spacing: 1px;
  background: darken($color: $primary, $amount: 57);
  .navbar-brand {
    color: $primary;
    font-weight: 700;
    transition: all 0.3s ease-out;
    &:hover {
      color: $secondary;
      span {
        color: $primary;
      }
    }
    span {
      color: $secondary;
    }
  }
  .links {
    color: $primary;
    padding: 6px 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid transparent;
    &:hover {
      color: lighten($color: $primary, $amount: 60);
      background: $primary;
      border: 1px solid darken($color: $primary, $amount: 15);
      text-decoration: none;
      transition: all 0.5s ease-in-out;
    }
  }

  .navbar-toggler {
    height: 1.5em;
    width: 2em;
    padding: 0;
    border: 0;
    align-items: flex-end;
    &:focus {
      outline: none;
    }

    .nav-icon {
      display: block;
      position: relative;
      bottom: 0;
      margin-top: 20px;
      transform: rotateZ(45deg) translateY(-15px);
    }
    .nav-icon,
    .nav-icon::before,
    .nav-icon::after {
      height: 3px;
      width: 1.5em;
      background: $primary;
      transition: all 0.2s ease-in-out;
    }
    .nav-icon::before,
    .nav-icon::after {
      content: "";
      position: absolute;
    }
    .nav-icon::before {
      opacity: 0;
    }
    .nav-icon::after {
      transform: rotate(90deg) translateY(15px);
    }
    &.collapsed {
      .nav-icon {
        transform: rotate(0deg) translateX(10px);
      }
      .nav-icon::after {
        transform: translate(-50%, -20px);
      }
      .nav-icon::before {
        transform: translate(-30%, -10px);
        opacity: 1;
      }
    }
  }
}

#hero {
  background: url(./images/wallpaper_hero.jpg) center / cover no-repeat;
  min-height: calc(100vh - 56px);
  span {
    color: $secondary;
  }
  h1 {
    color: $primary;
    padding-top: 60px;
  }
  h2 {
    color: $primary;
    font-weight: 700;
    padding-bottom: 40px;
  }

  .btn {
    margin-left: 80px;
  }
}

#hero-form {
  background: url(./images/wall_hero_2.jpg) bottom / cover no-repeat;
  min-height: calc(100vh - 56px);
  h1 {
    padding: 60px 0;
    text-align: right;
    color: $secondary;
  }
  p {
    text-align: right;
  }
}

.formulario {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.6)
    ),
    url(./images/background_form.jpg) center / cover no-repeat;
  font-family: Muli;
  font-weight: 300;
  h1 {
    font-family: Muli;
    font-weight: 800;
    color: $primary;
  }
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 170px;

  svg {
    width: 150px;
    height: 150px;
    position: relative;
    stroke-width: 10;
    stroke-linecap: round;
    fill: none;
  }

  #circleSVG {
    animation: rotar 3s linear infinite;

    circle {
      stroke: $primary;
      stroke-dasharray: 440;
      stroke-dashoffset: 440;
      width: 100%;
      height: 100%;
      transform: translate(5px, 5px);
      animation: animar 6s linear infinite;
    }
  }
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animar {
  0% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 0;
  }

  50.1% {
    stroke-dashoffset: 880;
  }
  100% {
    stroke-dashoffset: 440;
  }
}
